@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

.line-white {
    color: rgba(255, 255, 255, 1);
    position: relative;
    text-decoration: none;
}

.line-white::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    border-radius: 4px;
    background-color: rgba(255, 255, 255, 1);
    bottom: -2px;
    left: 0;
    transform-origin: right;
    transform: scaleX(0);
    transition: transform .3s ease-in-out;
}

.line-white:hover::before {
    transform-origin: left;
    transform: scaleX(1);
}

.line-black {
    color: rgb(0, 0, 0);
    position: relative;
    text-decoration: none;
}

.line-black::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    border-radius: 4px;
    background-color: rgb(0, 0, 0);
    bottom: -2px;
    left: 0;
    transform-origin: right;
    transform: scaleX(0);
    transition: transform .3s ease-in-out;
}

.line-black:hover::before {
    transform-origin: left;
    transform: scaleX(1);
}


.search-sec {
    background-image: url(./assets/Home/img-search.webp);
    background-size: cover;
    height: 100vh;
    width: 100%;
    position: relative;
}

input[type="checkbox"]:checked+label {
    color: rgba(255, 95, 0, 1);
}
/* ======================================================= */
/* Modal Card */
/* ========================================================== */

.modal {
    background: rgba(255, 255, 255, 1);
    overflow-y: auto;
    contain: layout style;
    will-change: transform;
    animation-duration: 600ms;
    animation-fill-mode: forwards;
    animation-name: cOlDfY;
    position: absolute;
    width: 100%;
    height: auto;
    max-height: 100%;
    bottom: 0px;
}



.ReactModal__Overlay--after-open {
    position: fixed;
    z-index: 104;
    background-color: rgba(44, 44, 44, 0.5) !important;
    inset: 50% !important;
    width: 100%;
    height: 100%;
    transform: translateX(-50%) translateY(-50%)
}

.ReactModal__Overlay {
    animation-duration: 500ms;
    animation-name: iQQUbp;
}

.ReactModal__Content--after-open {
    position: fixed !important;
    inset: 50% !important;
    bottom: auto !important;
    width: 100% !important;
    height: auto !important;
    animation-fill-mode: forwards;
    animation-duration: 600ms;
    animation-name: iQQUbp, iAkOet;
    transform: translateX(-50%) translateY(-50%)
}

@media (min-width: 780px) {
    .ReactModal__Content--after-open {
        position: fixed;
        top: 50%;
        bottom: auto;
        left: 50%;
        width: 31rem !important;
        height: auto;
        transform: translateX(-50%) translateY(-50%) scale(1);
        animation-name: iQQUbp, iAkOet;
    }
}



.ReactModal__Overlay--before-close {
    animation-fill-mode: forwards;
    animation-duration: 600ms;
    animation-name: iQQUbp;

}

@keyframes iAkOet {
    0% {
        transform: translateX(-50%) translateY(-50%) scale(0);
    }

    100% {
        transform: translateX(-50%) translateY(-50%) scale(1);
    }
}

@keyframes iQQUbp {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}


/* ================================================ */

.form-inpt{
    display: block;
    outline: none;
    background: transparent;
    width: 100%;
    margin-bottom: 25px;
    padding: 15px;
    border: none;
    border-bottom: 1px solid rgba(25, 25, 25, 1);
    caret-color:black ;
}

.form-inpt::placeholder {
    font-weight: 700;
    font-size: 1.25rem;
    color: rgba(89,89,89,1);
  }